# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0f45fa677095775d504b94ecfb190965-json
android/build/ios/XCBuildData/PIFCache/project/PROJECT@v11_mod=1daab79bfa16a6737beb5bb3bb142e15_hash=bfdfe7dc352907fc980b868725387e98plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=1ab1d6f53834694ce77c8fe8d347f90d-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2ad9cea7642fecf325227fdf25fe47f0-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2c409308a5ec3c5a178bf06198ad011b-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2e140c5628d81cc682205f553f8be362-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=2f94d67010361c28ffa2ccc6f7e420c4-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=3cc500d331aa3a134b94b84ad213d6a2-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5d187cacf04f2bf07a8fd921e83e80b9-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=5fecc4e6bf1b5acf79a09d73812da2da-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=09b629d74d7330fc9373c185dd900ba1-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=13dcc5c7174e3d8a9d44072346c80d5b-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=16eb9bea76e3cf91dfac3739e629d9f0-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=24ec09858ef211cc4c23b6280d71d979-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=41a87c7ce85b6c459986d0a134e24639-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=65ec9bbbed8e68b60bf56c318903eb02-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=361fcd211f518eb1eda9efb8dec4bdf0-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=376f83dc3f4bcf25a4dcc53bb6a7d29d-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=382b2d7bf189e66796bbaeff545272c1-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=578d7505f906f53898edf6e07a28dcf0-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=02071af6fc60477a6502354ffa62da16-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=237953ea0a72a086fe6ea2705aad77fa-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=433344a81ae7c3c4de6f1b9382827001-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=0329556927073114d59b399cb156ead9-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a1b718777ab10b577af3c384252aa9d8-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=a4c6d120dc4b9b52b9e94f5afd06bdb1-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=c8d977a74d08bad1c1524a29d7a8a583-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=d20674113b44d51897607083bc8a2ac7-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e31cb1ff8684ac23c0de0ce6fc7a479a-json
android/build/ios/XCBuildData/PIFCache/target/TARGET@v11_hash=e567c6b189b388dbeea8bc1f17319ae1-json
